input:focus {
    outline: none;    
}


.imageContainer {
    background: url("shutterstock-348320018-1530178649.jpg");
    background-repeat: no-repeat;
    border: solid;
    border-color: white;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    height: 480px;

}

#logo {
    color: red;
    background: white;
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    font-family: sans-serif;
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;
    border : solid 1px;
    text-align: center;
    border-color: white;
}


.moto {
    width: 754px;
    height: 51px;
    font-family:sans-serif;
    font-size: 36px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: normal;
    margin: auto;
    color: #ffffff;
    margin-left: 350px;
}


#cityList {
    color: grey;
    background: white;
    margin-top: 4px;
    margin-left: 649px;
    width: 477px;
    height: 235px;
    border : solid 1px;
    border-color: white;
    padding-left: 23px;
    box-shadow: 0 3px 6px gray;
}
.SearchContainer {
    margin-left: 350px;
    margin-top: 50px;
}


.searchList {
    width: 245px;
    height: 60px;
    background-color: #ffffff;
    font-family: sans-serif;
    border: none;
    font-weight: 100;
    color: #192f60;
    font-size: medium;
    padding-left: 23px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputList {
    width: 477px;
    height: 60px;
    background-color: #ffffff;
    margin-left: 50px;
    border: none;
    font-family: sans-serif;
    font-size: larger;
    padding-left: 83px;
}

.Container2 {
    margin-top: 48px;
    margin-left: 180px;
}

.heading {
    width: 239px;
  height: 43px;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color : #483d8b;
}

.subHeading {
    width: 331px;
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #8c96ab;
  margin-top : 7px;
}


.CityContainer {
    display: inline-block;
    height: 60px;
    width: 400px;
    background-color: white;
}

.Component1 {
    font-weight: 100px;
    background-color: white;
    font-weight: 80px;
    float: left;
    border-radius: 50%;
    padding-top: 10px;
}

.location {
    float: left;
    padding-left: 20px;
}

.resturant {
    width: 300px;
    height: 25px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color : #483d8b;
    padding-top: 10px;
}

.place {
    width: 300px;
    height: 30px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8c96ab;
    padding-top: 10px;
}


.ComponentContainer {
    margin-top: 33px;
    margin-right: 40px;
    display: inline-block;
    height: 160px;
    width: 360px;
    background-color: white;
    display: inline-block;
    box-shadow: 0 3px 6px gray;
}

.imageComponent {
    float: left;
}

.textContainer {
    float: left;
    border-bottom: 500px;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 29px;
}

.ComponentHeading {
    width: 88px;
    height: 25px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color : #483d8b;
}

.ComponentSubHeading {
    width: 137px;
    height: 62px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8c96ab;
    padding-top: 10px;
}
